extends layout

block content
	h1 Youshuhui
	p Welcome to Youshuhui

	a(class='button btn btn-light' href='/signup') Signup
	a(class='button btn btn-light' href='/newEvent') New Event
	a(class='button btn btn-light' href='/login') Login

	div(class='row')
		div(class='md-auto')
			table.table
				thead
					tr
						th Title
						th Location
						th Date
						th Time
						th
				tbody
					each event in eventsList
						tr
							td= event.title
							td= event.location
							td= moment(event.datetime).format('YYYY/MM/DD')
							td= moment(event.datetime).format('hh:mm:ss')
							th: a(href='/') Info