extends layout

block content

	a(class='button btn btn-light' href='/') Home
	
	dib(class='row')
		div(class='col')
		div(class='col')

			h1= title

			form
				div(class='form-group')
					label Title
					input(type='text' class='form-control' id='inputTitle' placeholder='Enter Title')
				div(class='form-group')
					label Location
					input(type='text' class='form-control' id='inputLocation' placeholder='Where')
				div(class='form-group')
					label Datetime
					input(type='text' class='form-control' id='datetime')
				div(class='form-group')
					label Description
					textarea(type='text' rows='5' class='form-control' id='inputDesc' placeholder='Description')
				button(type='submit' class='btn btn-light') Submit

		div(class='col')