extends layout

block content

	a(class='button btn btn-light' href='/') Home
	
	dib(class='row')
		div(class='col')
		div(class='col')

			h1 #{title}

			-if(message != '')
				.alert.alert-danger #{message}

			form(action='/signup' method='post')
				div(class='form-group')
					label User Name
					input(type='text' class='form-control' name='username' placeholder='Enter user name')
				div(class='form-group')
					label Password
					input(type='password' class='form-control' name='password' placeholder='Password')
				div(class='form-group')
					label Confirm Password
					input(type='password' class='form-control' name='conPassword' placeholder='Passwords')
				p 
					| Already have an account ? 
					a(href='/login') Login
					|  now
				button(type='submit' class='btn btn-light') Submit
		div(class='col')